
/*MAIN*/
body {
	background-image: url("/images/darknessBackground.png");
	background-color: ;
}
h1 {

}
h2 {

}
div {

}
/*HEADER*/
.header {
	height: px;
	width: px;
}
/*LINKS*/
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}
/*ABOUT*/
.main {

}
.selfImage {

}
/*CONTACT BOX*/
.contactBox {

}
/*FOOTER*/
.footer {

}
